# Default values for cat-website.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 3

app:
  image:
    repository: climacs/cat-website-app-intel
    pullPolicy: IfNotPresent
    tag: latest

nginx:
  image:
    repository: nginx
    pullPolicy: IfNotPresent
    tag: stable

service:
  type: LoadBalancer
  appPort: 5000
  nginxPort: 80

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi
