app:
  replicaCount: 3
  image:
    repository: climacs/cat-website-app-intel
    tag: latest
    pullPolicy: IfNotPresent
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi
  service:  # Add this
    type: ClusterIP  # Use ClusterIP for inter-service communication
    port: 8000

nginx:
  image:
    repository: nginx
    tag: stable
    pullPolicy: IfNotPresent
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi
  service:
    type: LoadBalancer  # Change from ClusterIP to LoadBalancer
    port: 80

config:  
  nginx: |-  
    server {  
      listen 80;  
      server_name _;  

      location / {  
        proxy_pass http://cat-website-app:8000;  # Change 'app' to 'cat-website-app'
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
      }
    }
