apiVersion: apps/v1
kind: Deployment
metadata:
  name: cat-website-app
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: cat-website-app
  template:
    metadata:
      labels:
        app: cat-website-app
    spec:
      containers:
        - name: cat-website-app
          image: "{{ .Values.app.image.repository }}:{{ .Values.app.image.tag }}"
          imagePullPolicy: {{ .Values.app.image.pullPolicy }}
          ports:
            - containerPort: 8000
          resources: {}
---
apiVersion: v1
kind: Service
metadata:
  name: cat-website-app
spec:
  type: {{ .Values.app.service.type }}
  selector:
    app: cat-website-app
  ports:
    - protocol: TCP
      port: {{ .Values.app.service.port }}
      targetPort: 8000
